* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: lighter !important;
}
#calculate-app {
  border-radius: 12px;
  background-color: rgb(90, 90, 88);
  position: absolute;
  z-index: 500;
  border: 1px solid rgb(7, 7, 7);
  box-shadow: 0px 19px 30px 11px rgba(0, 0, 0, 0.4);
}
.calculator {
  color: white;
  border-radius: 12px;
  max-width: 240px;
  height: 322px;
  background-color: transparent;
  border: 1px solid rgba(168, 165, 165, 0.8);
}

.other {
  background-color: rgb(104, 104, 105);
  font-size: 1.4rem;
}
.other:active {
  background-color: rgb(124, 124, 122);
}
.operators {
  background-color: rgba(255, 161, 47, 0.9);
  font-size: 1.6rem;
}
.operators:active {
  opacity: 0.7;
  border: 1px solid rgb(7, 7, 7);
  background-color: rgba(255, 161, 47, 0.9);
}
.equal {
  background-color: rgba(255, 161, 47, 0.9);
  font-size: 1.6rem;
}
.equal:active {
  opacity: 0.7;
  border: 1px solid rgb(7, 7, 7);
}
.numbers,
.decimal {
  background-color: rgb(124, 124, 122);
  font-size: 1.4rem;
}
.numbers:active,
.decimal:active {
  background-color: rgb(184, 184, 176);
}

.calculate-area {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  grid-gap: 1px;
  text-align: center;
}
input {
  background-color: rgb(89, 89, 87);
  max-width: 100%;
  height: 20%;
  text-align: right;
  border: none;
  padding: 10px 5px;
  font-size: 2rem;
  color: white;
  font-weight: lighter !important;
}
input:focus {
  outline: none;
  background-color: rgb(89, 89, 87);
}
.calculate-area > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
}
.menu-bar {
  width: fit-content;
  padding-left: 8px;
  padding-top: 2px;
  height: 10%;
}
.menu-items {
  border: none;
  margin-right: 3px;
  width: 12px;
  height: 12px;
  border-radius: 1000px;
  text-align: center;
}
.red {
  background-color: rgb(255, 84, 78);
}
.yellow {
  background-color: rgb(255, 178, 43);
}
.green {
  background-color: rgb(36, 192, 56);
}
.menu-bar:hover .show {
  visibility: visible;
}
.show {
  font-size: 11px;
  visibility: hidden;
  color: rgb(89, 89, 87);
}
.border {
  border: 1px solid rgb(7, 7, 7);
}
